# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Log file for debugging
*.log

# Test 
test/ascii_read/travis_scott_ascii.stl
test/ascii_read/the_weeknd_ascii.stl
test/binary_read/travis_scott_binary.stl
test/binary_read/the_weeknd_binary.stl
test/ascii_write/*
test/binary_write/*
test/json/*

# Dependency directories (remove the comment below to include it)
# vendor/
